.intro {
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__box {
		&:first-of-type {
			flex: 0 0 40%;
		}

		&:last-of-type {
			flex: 0 0 50%;
		}
	}

	&__heading {
		color: $gulfBlue;
		font-family: $fontPlayfair;
		font-size: 3rem;
		font-weight: 800;
		line-height: 1.25;
	}

	&__copy {
		color: $gulfBlue;
		font-size: 1.5rem;
		line-height: 1.25;
		margin: 4% 0 7.5% 0;
	}

	&__button {
		border: none;
		border-radius: 3rem;
		color: $gulfBlue;
		cursor: pointer;
		font-size: 1.25rem;
		font-weight: 600;
		padding: 1rem 2rem;
		transition: $transitionSmoothShort;

		&--hollow {
			@include intro-button-colors($white, $supernova, $supernova);
			margin-right: 1.5rem;
		}

		&--solid {
			@include intro-button-colors($supernova, transparent, darken($supernova, 10%));
		}
	}

	&__svg {
		path[fill='#4834ae'],
		rect[fill='#4834ae'],
		circle[fill='#4834ae'] {
			fill: $purpleHeart;
			transition: $transitionSmoothExtraLong;
		}
	}
}
