.icm {
	@extend %baseModalStyles;

	// &__inner {
	// }

	&__logo {
		margin: 0 auto 5% auto;
		width: 15rem;
	}

	&__divider {
		@include size(0.125rem, 25%);
		background-color: $gulfBlue;
		margin: 0 auto 3.5% auto;
	}

	&__form {
		margin-top: 5%;
	}

	&__form-group {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		&:not(:last-of-type) {
			margin-bottom: 2%;
		}
	}

	&__label {
		font-size: 1.25rem;
	}

	&__input {
		padding: 0.25rem 0;
		width: 15vw;
	}

	&__message {
		font-family: $fontLato;
		width: 15vw;
	}

	&__legal {
		@include modalLegalText(1.5%);
	}

	&__legal-highlight {
		color: $supernova;
		cursor: pointer;
		font-weight: 600;
		transition: $transitionSmoothShort;

		&:hover,
		&:active,
		&:focus {
			color: darken($supernova, 10%);
		}
	}
}
