.master-form {
	height: 100vh;
	position: relative;

	@media #{$tabletPortrait} {
		height: auto;
	}

	&__inner {
		@extend %absoluteCenter;
		width: 90%;

		@media #{$tabletPortrait} {
			position: static;
			transform: translate(0, 0);
			width: 100%;
		}
	}
}
