.nav {
	position: absolute;
	top: 0;
	right: 0;

	&__list {
		display: flex;
	}

	&__item {
		cursor: pointer;
		padding: 0.5rem;

		&:first-of-type {
			background-color: lightgreen;
			margin-right: 0.5rem;
		}

		&:last-of-type {
			background-color: lightcoral;
		}
	}
}
