.ReactModal {
	&__Overlay {
		@extend %flexAlignJustifyCenter;
		background-color: rgba(0, 0, 0, 0.75) !important;
		opacity: 0;
		transition: $transitionSmoothLong;

		&--after-open {
			opacity: 1;
		}

		&--before-close {
			opacity: 0;
		}
	}

	// &__Content {
	// 	transition: $transitionSmoothLong;
	// }
}
