.results {
	&__inner {
		padding: 4.25% 5% 0 5%;
	}

	&__hero-text {
		text-align: center;
	}

	&__heading {
		color: $gulfBlue;
		font: 800 2.5rem/1.25 $fontPlayfair;
	}

	&__sub-heading {
		color: $gulfBlue;
		font: 800 1.75rem/1.25 $fontPlayfair;
		margin: 1.75% auto 3% auto;
		width: 50%;
	}

	&__reminder {
		color: $lochmara;
		font-size: 1.125rem;
		margin: $marginCenter;
		width: 33%;
	}

	&__selections {
		@extend %flexAlignJustifyCenter;
		margin-top: 1%;
	}

	&__selections-box {
		@include size(1.125rem);
		background-color: $supernova;
		margin-right: 0.25rem;
	}

	&__selections-text {
		color: $supernova;
		font-size: 1.125rem;
		font-weight: 600;
	}

	&__divider {
		@include size(0.125rem, 3.25rem);
		background-color: $gulfBlue;
		margin: 2.5% auto 2% auto;
	}

	// &__answers {
	// }

	&__answers-heading {
		color: $gulfBlue;
		font: 700 1.75rem/1.25 $fontPlayfair;
		margin: 0 auto 2.75% auto;
		text-align: center;
		width: 34.5%;
	}

	&__answers-list {
		margin: $marginCenter;
		width: 29%;
	}

	&__answers-item {
		&:not(:last-of-type) {
			margin-bottom: 1.25rem;
		}
	}

	&__answers-text {
		color: $gulfBlue;
		line-height: normal;

		&.selected {
			color: $supernova;
		}
	}

	&__answers-percent-bar {
		background-color: $gulfBlue;
		height: 1.25rem;
		// width is handled by javascript

		&.selected {
			background-color: $supernova;
		}
	}
}
