.results {
	margin: 0 auto;
	width: 90%;

	&__hero-text {
		text-align: center;
	}

	&__heading {
	}

	&__reminder {
	}

	&__selections {
	}

	&__selections-box {
	}

	&__selections-text {
	}

	&__divider {
	}

	&__answers {
	}

	&__answers-heading {
	}

	&__answers-list {
	}

	&__answers-item {
	}

	&__answers-text {
	}

	&__answers-percent-bar {
	}
}
