.sum {
	background-color: $white;
	padding: 2rem;
	width: 40vw;

	&:focus {
		outline: none;
	}

	&__logo {
	}

	&__heading {
	}

	&__form {
	}

	&__form-group {
	}

	&__label {
	}

	&__input {
	}

	&__legal {
	}
}
