.intro {
	&__row {
		@extend %flexAlignCenterJustifySpaceBetween;

		@media #{$tabletPortrait} {
			flex-direction: column-reverse;
			padding: 0 7.5%;
		}
	}

	&__box {
		&:first-of-type {
			flex: 0 0 40%;

			@media #{$tabletPortrait} {
				margin-top: 3.5%;
				text-align: center;
			}
		}

		&:last-of-type {
			flex: 0 0 55%;
		}
	}

	&__heading {
		color: $gulfBlue;
		font: 800 3rem/1.25 $fontPlayfair;
	}

	&__copy {
		color: $gulfBlue;
		font-size: 1.5rem;
		line-height: 1.25;
		margin: 4% 0 7.5% 0;

		@media #{$tabletPortrait} {
			margin: 3.5% 0;
		}
	}

	&__button-row {
		@extend %flexAlignCenter;

		@media #{$laptopSmall} {
			align-items: flex-start;
			flex-direction: column;
		}

		@media #{$tabletPortrait} {
			align-items: center;
		}
	}

	&__button {
		&:first-of-type {
			@media #{$laptopSmall} {
				margin-right: 0;
				margin-bottom: 4%;
			}
		}

		// &:last-of-type {
		// }
	}

	&__svg {
		path[fill='#4834ae'],
		rect[fill='#4834ae'],
		circle[fill='#4834ae'] {
			fill: $purpleHeart;
		}
	}
}
