.master-form {
	height: 100vh;
	position: relative;

	@media #{$tabletPortrait} {
		height: auto;
	}

	&__inner {
		position: absolute;
		left: 50%;
		top: 52.5%;
		transform: translate(-50%, -50%);
		width: 90%;

		@media #{$tabletPortrait} {
			position: static;
			transform: translate(0, 0);
			width: 100%;
		}
	}
}
