%absoluteCenter {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

%flexAlignCenter {
	display: flex;
	align-items: center;
}

%flexAlignJustifyCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

%flexAlignCenterJustifySpaceBetween {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
