html {
	box-sizing: border-box;
	font-size: 100%;

	@media #{$desktopSmall} {
		font-size: 87.5%;
	}

	@media #{$tabletLandscape} {
		font-size: 75%;
	}

	@media #{$tabletPortrait} {
		font-size: 62.5%;
	}
}

body {
	line-height: 1;
	font-family: $fontLato;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}

img,
svg {
	border: 0;
	display: block;
	height: auto;
	max-width: 100%;
}

a {
	&:link,
	&:visited {
		text-decoration: none;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

ol,
ul {
	list-style: none;
}

button,
input {
	font-family: $fontLato;
}

button:focus {
	outline: none;
}
